@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-text: #c8d9e6;
  --color-accent: #a3cae9;
  --color-muted: #668298;
  --color-border: #2b3b4e;
  --color-button: #4f7082;
  --color-button-muted: #14253a;
  --color-shadow: #061e44;
  --color-background: #07152b;
  --color-background-variant: #081832;
  --color-user-message: #273546;
  --color-codeblock: #222f3e;
  --color-logo: #203a45;
  --color-codeText: #c0c8cd;
  --font-cormorant: "Cormorant Garamond", serif;
  --font-dm: "DM Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@utility no-scrollbar {
  @apply [scrollbar:none] [&::-webkit-scrollbar]:hidden;
}
